@media screen and (max-width: 768px) {
   /*  body{
    overflow: hidden;
    } */
    .navbar{
    height: 10vh;
    background:  #313030;
   }
   .list-item{
    
   }
    .nav-list{
    position: absolute;
    top: -100%;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    background:rgba(0,0,0,.6);
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}
    .hamburger{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    }
    section{
        padding: 0 !important;
    }
    .header-section{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'block-left'  
        'block-right';  
        grid-column-gap: 50px;
        background: #f6f2f2;
        
    }
    .block-left{
        text-align: center;
        padding: 10% 0 0 0;
        grid-area: block-left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .block-right{
        display: flex;
        justify-content: center;
    }
    
  }