.header{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: #9148DD;
   
}
.navbar{
    width: 100%;
    position: static;
}
.wrapper-portfolio{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;

}
main{
    width: 100%;
}
.portfolio-page-block{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.single-portfolio{
    width: 30%;
    height: 100%;
}
.single-portfolio:hover{
    opacity: .7;
    cursor: pointer;
}
.portfolio-block{
    position: relative;
    width: 50%;
    height: 400px;
    margin: 5% auto;
    overflow: hidden;
    background: url('../../img/cube-1963036_640.jpg')center top no-repeat;
    background-size: cover;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
  }

 .wrapper-filter{
     display: flex;
     justify-content: center;
 }
 .filter-buttons{
     display: flex;
     justify-content: center;
     width: 50%;
     list-style: none;
     background: #9F56EB;
 }
 .filter-buttons li{
     margin: 0 5%;
     padding: 10px;
     color: #fff;
     

 }
 .filter-buttons li:hover{
     cursor: pointer;
 }
 #filter{
     width: 100%;
     height: 100%;
     display: flex !important;
     justify-content: space-between !important;
 }

 


img {
	max-width: 100%;
	height: auto;
}
ul,ol {
	list-style-type: none;
}


.container {
width: 75%;
min-height: 60vh;
 
margin:10px auto;
}
.page-title {
	margin:17px auto;
	text-align: center;
	color:#fff;
	font-size: 17px;
}
.page-title h1 {
	font-size:40px;
	line-height: 1;
}
.page-title a{
	color:#ff7777;
	text-decoration: none;
}
.page-title a:hover{
	text-decoration: underline;
	color: #ff3333;
}

.port-gallery {
	margin:20px auto;
  color: #fff;
}
.port-gallery ul {
  padding: 0 10px;
  margin: 0;
  margin-bottom: 10px;
  float: left;
  display: inline-block;
}
.port-gallery ul li {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px
}
.port-gallery ul li.filtr-active {
  background-color: #f27f2b;
  cursor: default;
  color: #fff
}

.port-gallery ul.filterizr-sorting {
	float: right;
}
.filtr-item {
  width: 25%;
  padding: 10px;
  height: auto;
}
.filtr-item img {
  border-radius: 3px;
  width: 100%;
  margin-bottom: 0!important;
  height: 160px;
  display:block;
}
.filtr-item p {
  margin-bottom: 0!important
}
.filtr-item .desc {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, .7);
  transition: ease .5s;
  -moz-transition: ease .5s;
  -webkit-transition: ease .5s;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.filtr-item .desc a {
  color: #fff;
  text-decoration: none;
  cursor: pointer
}
